* {
    box-sizing: border-box;
}

body {
    padding: 100px 0;
    background: url("../background.jpeg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.col-sm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 25px;
    overflow: hidden;
    width: 500px;
    height: 500px;
    background-color: #000;
    border-radius: 100%;
}

.up, .bottom {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.up {
    border-radius: 50% 50% 0 0;
}

.bottom {
    border-radius: 0 0 50% 50%;
}

.up__left {
    width: 100%;
    height: 100%;
    border-bottom: 12.5px solid #000;
    border-right: 12.5px solid #000;
    border-radius: 100% 0 0 0;
    background-color: rgba(0, 128, 0, 0.7);
}

.up__right {
    width: 100%;
    height: 100%;
    border-bottom: 12.5px solid #000;
    border-left: 12.5px solid #000;
    border-radius: 0 100% 0 0;
    background-color: rgba(255, 0, 0, 0.7);
}

.bottom__left {
    width: 100%;
    height: 100%;
    border-top: 12.5px solid #000;
    border-right: 12.5px solid #000;
    border-radius: 0 0 0 100%;
    background-color: rgba(255, 255, 0, 0.7);
}

.bottom__right {
    width: 100%;
    height: 100%;
    border-top: 12.5px solid #000;
    border-left: 12.5px solid #000;
    border-radius: 0 0 100% 0;
    background-color: rgba(0, 35, 150, 0.7);
}

.center {
    width: 270px;
    height: 270px;
    padding: 12.5px;
    background-color: #000;
    border-radius: 100%;
    position: absolute;
}

.center__inner {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3rem;
}

h1 span {
    font-size: 1.25rem;
    vertical-align: top;
}

.controls {
    display: flex;
}

.display {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 70px;
    height: 45px;
    border: none;
    background-color: rgba(78, 48, 48, 0.9);
    border: 3px solid rgba(0, 0, 0, 0.5);
    border-radius: 15%;
    color: #ee3535;
    font-weight: 700;
}

.start, .strict {
    width: 25px;
    height: 25px;
    border: 3px solid rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    background-color: red;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.8);
}

.start {
    margin: 20px 20px 0 18px;
}

.start:hover, .strict:hover {
    cursor: pointer;
}

.strict-alert {
    text-align: center;
}

.alert {
    display: inline-block;
    width: 9px;
    height: 9px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    border-radius: 100%;
}

.strict {
    border: 3px solid rgba(0, 0, 0, 0.7);
    background-color: yellow;
    margin: 2px auto 0 auto;
}

.count-name, .start-name, .strict-name {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 8px;
}

.on-off-block {
    display: flex;
    align-items: center;
}

.on-off-block span {
    text-transform: uppercase;
    font-size: 12px;
}

.on-off {
    display: flex;
    width: 55px;
    height: 23px;
    background-color: rgb(0, 0, 0);
    margin: 15px 5px;
}

.on-off:hover {
    cursor: pointer;
}

.off {
    width: 50%;
    height: 100%;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(141, 141, 236);
    border-radius: 5px;
}

.on {
    width: 50%;
    height: 100%;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(141, 141, 236);
    border-radius: 5px;
    visibility: hidden;
}

/* Media Queries */

@media only screen and (max-width : 768px) {
    .frame {
        width: 400px;
        height: 400px;
        padding: 10px;
    }
}

@media only screen and (max-width : 480px) {
    .frame {
        width:300px;
        height:600px;
        padding: 0px;
        border-radius: 0;
    }

    .center {
        padding: 5px;
        border-radius: 0;
    }   

    .center__inner, .up__left, .up__right, .bottom__left, .bottom__right {
        border-radius: 0;
        border: 0;
    }
}
